<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ez Sports</title>
        
        <script src="lib/react.development.js"></script>
        <script src="lib/react-dom.development.js"></script>
        <script src="lib/babel.min.js"></script>

    </head>
    <body>
        Welcome to the Ez Sports
        <div id="root"></div>
        <script type="text/babel" src="main.js"></script>
    </body>
</html>